<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LojaEstoque</title>
    <script src="https://kit.fontawesome.com/c9d60ed44d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LojaEstoque.styles.css" asp-append-version="true" />
    <asp:ContentPlaceHolder runat="server" ID="Inicio"></asp:ContentPlaceHolder>
    <asp:ContentPlaceHolder runat="server" ID="Cadastro"></asp:ContentPlaceHolder>
</head>
<body>
    <div class="main" id="light">
        <div class="upper--panel">Escolha um tema: <div class="theme-mode"><div class="btn-theme" aria-checked="false"></div><span>Light</span><span>Dark</span></div></div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <dialog class="layout__dialog layout__dialog--backdrop">
            <div class="dialog__action">
                <p class="dialog__message"></p>
            </div>
                <div class="dialog__buttons">
                    <button class="dialog__confirm btn-default">Confirmar</button>
                    <button class="dialog__close btn-default">Fechar</button>
                </div>
        </dialog>
        <div class="container">
            &copy; 2023 - LojaEstoque
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
